version: "3.9"

services:
  db:
    image: postgres:16
    container_name: mykarfour_db
    environment:
      POSTGRES_DB: mykarfour_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: MyKarfour
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

  redis:
    image: redis:7
    container_name: mykarfour_redis
    restart: unless-stopped

  web:
    build:
      context: .
      dockerfile: Dockerfile

    container_name: mykarfour_web

    environment:
      DJANGO_SETTINGS_MODULE: mykarfour_app.settings
      DJANGO_ENV: production

      DB_NAME: mykarfour_db
      DB_USER: postgres
      DB_PASSWORD: MyKarfour
      DB_HOST: db
      DB_PORT: 5432

      REDIS_HOST: redis
      REDIS_PORT: 6379

    depends_on:
      - db
      - redis

    ports:
      - "8000:8000"

    command: >
      daphne -b 0.0.0.0 -p 8000 mykarfour_app.asgi:application

    restart: unless-stopped

volumes:
  postgres_data:
