version: "3.9"

services:
  db:
    image: postgres:16
    container_name: mykarfour_db
    environment:
      POSTGRES_DB: mykarfour_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: MyKarfour
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

  redis:
    image: redis:7
    container_name: mykarfour_redis
    restart: unless-stopped

  web:
    build: .
    image: jminkoh667/mykarfour_web:latest
    container_name: mykarfour_web

    env_file:
      - .env

    environment:
      DJANGO_SETTINGS_MODULE: mykarfour_app.settings

    depends_on:
      - db
      - redis

    ports:
      - "8000:8000"

    restart: unless-stopped

volumes:
  postgres_data:
